/* FONTES DEV */

@font-face {
  font-family: "russoone";
  src: url("../fonts/russoone.ttf");
}

@font-face {
  font-family: "circuit";
  src: url("../fonts/CircuitBoredNF.ttf");
}

@font-face {
  font-family: "apocalipse";
  src: url("../fonts/28 Days Later.ttf");
}

@font-face {
  font-family: "dynamic";
  src: url(../fonts/dynamic.ttf);
}

@font-face {
  font-family: "pdark";
  src: url(../fonts/pdark.ttf);
}

@font-face {
  font-family: "Consolas";
  src: url(../fonts/consolas.ttf);
}

@font-face {
  font-family: "Vanadine";
  src: url(../fonts/VanadineBold.ttf);
}

/* END FONTES */

/* TAGS */

html {
  overflow-x: hidden;
}

body {
  color: white;
  margin: 0;
  background: linear-gradient(to bottom right, rgb(10,10,10), rgb(102,102,102));
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#not-found {
  background-color: white;
}

section {
  width: 73%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Consolas", sans-serif;
  text-shadow: 1px 1px black;
  padding-top: 65px;
  min-height: 350px;
}

h1 {
  text-align: left;
}

h2 {
  text-align: center;
  font-family: "russoone", sans-serif;
  font-size: 30px;
  font-weight: 100;
  padding-top: 75px;
}

h3 {
  text-align: center;
}

h4 {
  text-align: left;
}

figcaption {
  margin-top:10px;
  font-style: italic;
}

footer {
  color: #777;
  text-align: center;
  background-color: #000000;
  border-top: 3px solid #696969;
  margin-top: 3%;
}

/* IDs */

#direitos {
  font-family: sans-serif;
}

#cad_table {
  height: 250px;
  margin: 0 auto;
  padding: 10px;
  border: none;
  margin-top: 4%;
}

#bug_table {
  height: 250px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

#login_table {
  height: 200px;
  margin: 0 auto;
  padding: 10px;
  border: none;
  margin-top: 100px;
}

#logout {
  margin: 0;
  padding: 0;
  font-family: "Consolas";
  background-color: #000000;
  color: white;
  font-size: 15px;
  width: 90px;
  border: none;
}

#logout a {
  margin: 0;
  padding: 0;
  font-family: "Consolas";
  background-color: #000000;
  color: white;
  font-size: 15px;
  width: 90px;
  border: none;
  text-decoration: none;
}

#avatar {
  text-align: center;
}

#avatar_tab tr td img {
  background-color: #EEE;
  color: black;
}

.figuras {
  position: relative;
  left:70px;
  width:800px;
  height:400px;
}

.link-compra {
  text-align: center;
}

.foto-temas {
  margin-right: auto;
  margin-left: auto;
}

.foto-produto {
  margin-left: auto;
  margin-right: auto;
}

.foto-vendas {
  margin-left: auto;
  margin-right: auto;
  border-radius: 70px 20px 70px 40px;
}

.produto-fotos li {
  display: inline;
}

.direita {
  text-align: right;
}

.aumenta-texto {
  width: 400px;
  height: 200px;
}

.caixa-texto {
  background-color: black;
  color: white;
}

.social li {
  display: inline;
}

.social {
  position: relative;
  left: 450px;
  bottom: 30px;
}

.produto {
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 70px 20px 70px 40px;
  height: 200px;
}

.produto img {
  float: left;
}

.produto p a {
  color: #00BFFF;
}

.content {
  flex: 1;
  display: flex;
  overflow: overlay;
}

.texto {
  width: 350px;
  height: 30px;
  border: none;
  border-radius: 10px;
}

/* PADROES DEVX */

.botaoDev {
  text-decoration: none;
  color: silver;
  background: #778899;
  border-radius: 2px;
  border: none;
  text-shadow: inherit;
  font-size: 12pt;
  float:  left;
  clear:  both;
  cursor: pointer;
  transition: .4s;
}

.botaoDev:hover {
  box-shadow: 3px 5px 10px #000;
  transform: scale(1.06);
}

.linkDev{
  color: #00bfff;
  font-family: "Consolas";
  float:  left;
  clear:  both;
  margin-top: 7%;
  font-size: 10pt;
}

.inputDev {
  height: 35px;
  position: relative;
  border: none;
  border-radius: 5px;
  background: rgba(0,0,0,0.7);
  text-align: center;
  border: 1px solid;
  border-color: black;
  color: silver;
  float: left;
  clear: both;
  margin: 2% 0%;
}

.inputDev:hover {
  border-color: #00bfff;
}

.exibeSlide {
  width: auto;
  height: 500px;
}

.slideFrame {
  width: 900px;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* END PADROES DEVX */

/* LOGIN DEV */

.cardLogin{
  position: relative;
  float: left;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255,255,255,0.19);
  border-radius: 3px;
  padding: 8%;
}

.logoLogin {
  position:  relative;
  float: left;
  left:  50%;
  transform:  translateX(-50%);
  margin: 14% 0%;
}

.Login {
  position:  relative;
  float:  left;
  margin: 0;
  left:  50%;
  transform: translateX(-50%);
  clear: both;
}

.contentLogin {
  position:  relative;
  float:  left;
  width: 100%;
  padding: 20% 0%;
}

.painelBotaoLogin{
  
position:  relative;
  
float:  left;
  
clear:  both;
}

/* END LOGIN DEV */

/* MENU DEV */

header {
  background-color: #141414;
  box-shadow: 0px 2px 11px black;
  height: 78px;
  width: 100%;
  top: 0px;
  position: fixed;
  z-index: 11;
}

nav {
  position: relative;
}

#menu {
  list-style-type: none;
  text-align: right;
  width:65%;
  float: right;
  margin-top: 2.5%;
  position: relative;
  right: 6%;
}

#menu li {
  display: inline;
  font-family: "dynamic", sans-serif;
  font-size: 20px;
  padding-left: 15px;
}

#menu li a {
  color: silver;
  text-align: center; 
}

#menu li a:hover {
  color: white;
  text-shadow: 0 0 8px #fff;
}

#menu li a:link {
  text-decoration: none;
}

#logo {
  width: 300px;
  height:150px;
}

#user {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -132%;
  right: -7%;
  width: 70px;
  height: 70px;
  transition: .2s;
}

#user:hover {
  cursor: pointer;
}

#sub-user {
  position: absolute;
  background: #1C1C1C;
  top: 99%;
  right: -325%;
  width: 200px;
  box-shadow: -3px 5px 12px black;
  transition-duration: .2s;
}

#user:hover #sub-user {
  right: -27%;
}

.sub-opcao-user {
  padding: 3%;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
}

.sub-opcao-user:hover {
  color: white;
  text-shadow: 0 0 8px #fff;
}


/* END MENU DEV */

/* BOOKS.PHP */

.apostila-content {
  width: 100%;
  position: relative; 
  height: 254px;
  margin-bottom: 4%; 
  border-radius: 15px; 
  box-shadow: -4px 5px 14px black;
  background-size: cover;
  transition: .4s;
}

.apostila-content:hover {
  background-position-y: 254px;
  transition-duration: .4s;
}

/* END BOOKS.PHP */

/* APOSTILAS.PHP */

.apostila-list {
  position: relative;
  height: auto;
  width: 100%;
  margin-top: 3%;
}

.apostila-link {
  display: none;
  position: relative;
  overflow: hidden;
  width: 203px;
  height: 287px;
  margin-right: 2%;
  margin-bottom: 2%;
  margin: 2%;
  box-shadow: 4px 5px 10px black;
  transition: .2s;
}

.apostila-link a {
}

.capa-livro {
  width: 100%;
  height: 100%;
}

.nome-livro{
  position: absolute;
  bottom: -90%;
  width: 100%;
  background: rgba(0,0,0,0.8);
  padding: 2% 0%;
  transition-duration: .2s;
}

.apostila-link:hover .nome-livro{
  bottom: 0%;
}

.content-categoria{
  background: rgba(102,102,102,0.8);
  margin: 4% 0%;
  border-radius: 2px;
  box-shadow: 2px 2px 10px black;
}

.titulo-categoria{
  margin: 0;
  padding: 1%;
  font-weight: bolder;
  background: #708090;
  border-radius: 2px 2px 0px 0px;
}

.content-categoria:hover .apostila-link{
  display: inline-block;
}

/* END APOSTILAS.PHP */

/* TEMA.PHP */

.tema-list {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 6%;
}

.Tema {
  width: 936px;
  height: 161px;
  padding: 1%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: #708090;
  border-radius: 2px;
  box-shadow: 4px 2px 12px 0px black;
  overflow: hidden;
  margin-top: 2%;
}

.capa-tema {
  width: 241px;
  height: 161px;
  float: left;
}

.info-tema {
  position: relative;
  left: 2%;
  background: #57636f;
  z-index: -1;
  height: 139px;
  top: 50%;
  transform: translateY(-50%);
}

.info-tema p {
  margin: 0;
  position: relative;
}

.tema-back {
  width: 359px;
  height: 208px;
  display: inline-block;
  position: absolute;
  left: 62%;
}

.info-instrucoes {
  width: 386px;
  display: inline-block;
  position: absolute;
  left: 59%;
  top: 43%;
}

.info-instrucoes ul li {
  margin-bottom: 1%;
}

.info-instrucoes ul p span {
  margin-left: 4%;
  color: #708090;
  font-size: 19pt;
}

.download-area {
  margin-top: 4%;
  background: #696969;
  position: relative;
  width: 646px;
  left: 50%;
  transform: translateX(-71%);
  padding: 2%;
}

.download-area span {
  position: absolute;
  right: 4%;
  top: 12%;
  font-size: 16pt;
  width: 150px;
}

.download-button {
  position: absolute;
  bottom: -23%;
  right: 3%;
  padding: 0.8% 5%;
  font-weight: bolder;
}

.tema-content {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 1%;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.7));
  box-shadow: 3px 2px 10px black;
}

.layout-slide {
  display: inline-block;
  width: 590px;
}

/* END TEMA.PHP */

/* CHANGE.PHP */

.formulario-editPerfil {
  position: relative;
}

.formulario-editPerfil fieldset {
  position: relative;
  left: calc(50% - 383px);
  width: 765px;
  color: silver;
  margin-top: 2%;
}

/* END CHANGE.PHP */


/* PERFIL.PHP */

#info_tab {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 96%;
  padding: 15px 20px;
  left: 0%;
  bottom: 36%;
}

#info_tab p {
  margin-left: 35%;
}

.control-panel {
  position: relative;
  height: auto;
  padding-top: 2%;
  padding-bottom: 3%;
  width: 90%;
  left: 5%;
  background: #1c1c1c;
  border-left: 0.8px solid black;
  border-right: 0.8px solid black;
}

.links-uteis{
  background: #141414;
  width: 437px;
  padding: 2%;
  position: relative;
  left: calc(50% - 228px);
  border-radius: 4px;
}

.perfil-info {
  position: relative;
  height: 281px;
  margin-top: 5%;
  padding: 2% 6%;
  background: radial-gradient(rgba(70,100,110,0.9), rgba(30,60,70,0.9));
  box-shadow: -6px 4px 16px 0px black;
  z-index: 1;
}

.avatar{
  position: absolute;
  padding: 15px;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  left: 5%;
  z-index: 10;
  box-shadow: 3px 4px 13px black;
}

.editPerfilMenu{
  display: none;
  position: absolute;
  bottom: 7%;
  left: 35%;
}

.reportsBugs {
  position: relative;
  left: 9%;
  width: 705px;
}

.bugs-title {
  background: #141414;
  padding: 1%;
  border-radius: 4px;
}

.list-bugs {
  background: #141414;
  min-height: 70px;
  border-radius: 4px;
}

.insere-pdf {
  position: relative;
  left: 9%;
  width: 705px;
}

.pdf-title {
  background: #141414;
  padding: 1%;
  border-radius: 4px;
}

.formulario-pdf {
  background: #141414;
  min-height: 70px;
  border-radius: 4px;
  padding: 1.4%;
}

/* END PERFIL.PHP */